# Configuration file

"air cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"biocrude cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"biogas cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"biomass cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"blazing pyrotheum cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"brine cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"canola oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"construction foam cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"creosote cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"creosote oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"crude oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"crystallized oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"destabilized redstone cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"distilled water cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"empowered oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"energized glowstone cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"essence of knowledge cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"event entities enabled" {
    B:"Event Entities Enabled"=true
}


##########################################################################################################
# fluid cow global spawn rate
#--------------------------------------------------------------------------------------------------------#
# The chance of Fluid Cows spawning versus other entities. (8 is the same chance as normal Cows)
##########################################################################################################

"fluid cow global spawn rate" {
    I:"Fluid Cow Global Spawn Rate"=8
}


"gelid cryotheum cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"grassoline cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"heavy water cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"hotspring water cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"hydrogen cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"ic2 coolant cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"ic2 hot coolant cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"lava cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"lingering potion cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"liquid lithium cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"liquifacted coal cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"milk cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten constantan cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten electrical steel cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten enderium cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten invar cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten iridium cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten lumium cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten platinum cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"molten signalum cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"mushroom stew cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"naphtha cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"oxygen cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"pahoehoe lava cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"potion cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"primal mana cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"refined canola oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"refined fuel cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"resin cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"resonant ender cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"sap cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"seed oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"splash potion cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"steam cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"superheated steam cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"syrup cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"tectonic petrotheum cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"tree oil cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"uu-matter cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"water cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"weed-ex cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


"zephyrean aerotheum cow" {
    B:"Can Damage Other Entities"=true
    B:"Can Damage Player"=true
    I:"Fire Damage Amount"=0
    I:"Grow Up Time"=8000
    B:"Is Spawnable?"=true
    I:"Max Use Cooldown"=4000
    I:"Normal Damage Amount"=0
    I:"Spawn Rate"=100
}


